.editor-outer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.editor-detail-view {
    position: absolute;
    overflow: hidden;
    background: #fff;
    white-space: nowrap;
    border-radius: 2px;
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

    .editor-detail-view > div {
        text-align: right;
        padding: 0.5rem;
    }

    .editor-detail-view i {
        font-size: 1rem;
    }

    .editor-detail-view button {
        padding: 4px 8px;
    }

    .editor-detail-view .article-information {
        vertical-align: middle;
        text-align: left;
        border-bottom: 1px solid #d8d8d8;
    }

        .editor-detail-view .article-information .sub-header {
            font-weight: 200;
            font-size: 0.9rem;
            margin-bottom: 4px;
            margin-left: 4px;
        }

.btn-color {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    margin: 2px;
}

.right-side {
    flex: 1;
}

