.article-catalog {
    margin-right: 3px;
    width: 325px;
    background-color: #f1f1f1;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;
}

    .article-catalog .row {
        margin: 0;
        overflow-y: auto;
    }

    .article-catalog .card {
        width: 138px;
        height: 170px;
        border: none;
        border-radius: 0;
    }

        .article-catalog .card:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }

    .article-catalog img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 1rem;
    }

.toolbar {
    background-color: #444;
    margin-right: -2px;
    display: flex;
    flex-direction: row;
}

    .toolbar button {
        background-color: #444;
        line-height: 34px;
        color: #fff;
        padding: 2px 12px;
        border: 0;
        background: #4e4e4e;
        text-align: left;
        font-size: 0.9rem;
    }

        .toolbar button:hover
        {
            background: #444;
        }

        .toolbar button:nth-child(2) i {
            margin-right: 8px;
        }

        .toolbar button:nth-child(2) {
            flex: 1;
            border-left: solid 1px #777777;
        }