<div class="article-catalog">
    <div class="toolbar">
        <button><i class="fas fa-home"></i></button>
        <button><i class="fas fa-sliders-h"></i>Edit filters...</button>
    </div>
    <div class="row g-2 p-2">
        @foreach (var item in CatalogItems)
        {
            <div class="col">
                <div class="card shadow-1">
                    <div class="card-body">
                        <img src="@(ImageBasePath + item.ImageUrl)" draggable="true"
                         @ondragstart="() => OnDragStart.InvokeAsync(item)" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>